.wrapper {
    /*position: static;*/
}
.container-slide {
    position: relative;
    background-color: #1a1a;
    max-height: 600px;
    max-width: 1200px;
    margin-top: 20%;
}


/*html,*/
/*body,*/
.stage,
.ring,
.img {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    user-select: none;
}

/*html,*/
/*body,*/
.stage {
    overflow: hidden;
    /*background: #000;*/
}

div,
svg {
    position: absolute;
}

.container {
    perspective: 2000px;
    width: 320px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Секция для понимания позиционирования */
.pos {
    position: relative;
    width: 500px;
    margin: 0 auto;
    background-color: blue;
}

p {
    background: aqua;
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
}

span {
    background: red;
    border: 1px solid black;
}

.positioned {
    position: absolute;
    background: yellow;
    top: 30px;
    left: 30px;
}
p:nth-of-type(1) {
     position: absolute;
     background: lime;
     top: 10px;
     right: 30px;
     z-index: 2;
 }

















